<!-- nav.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Barre de Navigation</title>
    <style>
        /* Styles CSS de la barre de navigation */
    </style>
</head>
<body>
    <div id="navbar">
        <nav>
            <ul>
                <li><a href="../pages/home.html">Accueil</a></li>
                <li><a href="../pages/page1.html">Page 1</a></li>
                <li><a href="../pages/page2.html">Page 2</a></li>
                <!-- Ajoutez d'autres liens pour les autres pages de votre application -->
            </ul>
        </nav>
    </div>
</body>
</html>
