.container-player-leader {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 50px;
  padding: 0.5rem 1rem;
 
}

.cell-leaderboard img {
  width: 20%;
  object-fit: contain;
  border-radius: 999px;
}

.cell-leaderboard-stats {
  color: var(--white);
  font-weight: 500;
  font-size: 1vw;
}

.cell-leaderboard-user {
  gap: 1rem;
}
