h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
    margin: 0;
    background-image: url('/background.png');
    background-color: var(--background-color);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    padding: 0;
    font-family: 'Poppins';
}

a {
  text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

:root {
    --background-color : #272730;
    --background-nav :#161A23;
    --background-sign:#31313F;
    --background-inputs-form:#DDDBE3;
    --grey:#A5A5A5;
    --white:#F9F9F9;
    --cyan:#48fdfd;
    --error-code:rgb(225, 49, 49);
}