/* Crosshair.css */
.crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px; 
    pointer-events: none; 
    z-index: 9999; 
  }
  
  .horizontal,
  .vertical {
    position: absolute;
    background-color: red;
  }
  
  .horizontal {
    top: 50%;
    left: 0;
    right: 0;
    height: 1.5px; 
  }
  
  .vertical {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1.5px; 
  }
  